<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.GLDingDanMapper">
    <select id="getDingDanById" resultType="com.kgc.pojo.Dingdan">
        select * from dingdan
        where ddid=#{ddid}
    </select>
    <update id="update" parameterType="com.kgc.pojo.Dingdan">
        UPDATE dingdan
        SET ddjg=#{ddjg},dtype=#{dtype}
        WHERE ddid=#{ddid}
    </update>
</mapper>