<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.GLYongHuMapper">
    <select id="getUserAll" resultType="com.kgc.pojo.Users">
        select * from 待定表
    </select>
    <insert id="addJingGao" parameterType="com.kgc.pojo.JingGao">
        insert into jinggao values(null,#{jgyhid},#{jgyy} ,NOW(),#{glid})
    </insert>
    <insert id="addXinXi" parameterType="com.kgc.pojo.XinXi">
        INSERT INTO xinxi values(NULL,#{yhid},#{xxnr},NOW(),#{glid})
    </insert>

    <select id="getUserById" resultType="com.kgc.pojo.Users">
        select * from users_message
        where id=#{id}
    </select>

    <update id="update" parameterType="com.kgc.pojo.Users">

        UPDATE users_message
        SET Nickname=#{Nickname},TYPE=#{Type}
        WHERE id=#{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from users_message
       where id=#{id}
    </delete>
</mapper>